/*main*/
$header_w: 1000px;$header_h: 120px;$header_bc: white;
$img_w: 600px;
$texti_w: 160px;$texti_h: 26px;
$buttoni_w: 60px;$buttoni_h: 30px;
$navbar_h: 40px;$navbar_bc: #0A498D;
$ct_w: 1000px;$ct_h:160px;$ct_borc: blue;$img1_w: $ct_h - 40px;$img1_h: $img1_w;
$row_h: 600px;
$n0_w: 450px;$n0_h: 440px;$n0_ml: 20px;
$n1_w: 550px;$n1_h: 440px;$n1_ml: 20px;
$n2_w: 900-$n1_w;
$tt_bc: #EBF3FC;$tt_bt: #0A498D;$tt_h: 40px;
$tit_mt: 5px;$tit_ml: 5px;
$title_w: 100px;$title_h: 32px;$title_fsize: 20px;$title_lineh: 32px;$title_pl: 15px;
$moreb0_mt: 5px;$moreb0_fonts: 17px;$moreb0_c: #0A498D;$moreb0_w: 297px;$moreb0_lineh: 32px;
$moreb1_w: 390px;$moreb2_w: 184px;
$bot_w: 100%;$bot_h:120px;$bot_bimg: '';$bot_c: black;
$f1_s: 20px;$f1_mt: 14px;
.main{
  .header{
    background-color: $header_bc;
    display: flex;
    justify-content: center;
    .logo{
      width: $header_w;height: $header_h;
      display: flex;
      justify-content: space-between;
      img{width: $img_w;height: $header_h;}
      .text_i{width: $texti_w;height: $texti_h;margin-top: ($header_h - $texti_h)/2;}
      .button_i{width: $buttoni_w;height: $buttoni_h;margin-top: ($header_h - $buttoni_h)/2;}
    }
  }
  .navBar{
    background-color: $navbar_bc;
    display: flex;
    justify-content: center;
    .nav{width: $header_w;height: $navbar_h;display: flex;justify-content: space-around;}
  }
  .img0{width: 100%;}
  .centerbox{
    display: flex;
    justify-content: center;
    .center{
      width: $ct_w;
      height: $ct_h;
      display: flex;
      justify-content: space-around;
      border: 1px solid $ct_borc;
      .c{
        text-align: center;
      }
    }
    .img1{
      width: $img1_w;
      height: $img1_h;
    }
  }
  .row{
    display: flex;
    justify-content: center;
    .row_kid{width: $header_w;height: $row_h;display: inline-flex;justify-content: center;}
  }
  .notice0{
    width: $n0_w;
    height: $n0_h;
    display: inline-block;
    vertical-align:top;
    margin-left: $n0_ml;
  }
  .notice1{
    width: $n1_w;
    height: $n1_h;
    display: inline-block;
    vertical-align:top;
    margin-left: $n1_ml;
  }
  .notice2{
    width: $n2_w;
    height: $n1_h;
    display: inline-block;
    vertical-align:top;
    margin-left: $n1_ml;
  }
  .tt{
    background-color: $tt_bc;
    border-top: 1px solid $tt_bt; 
    height: $tt_h;
    color: #0A498D;
    font-family: "SimSun";
    .tit{
      margin-top: $tit_mt;
      display: inline-block;
      margin-left: $tit_ml;
      .title{
        width: $title_w;
        display: inline-block;
        font-size: $title_fsize;
        height:$title_h; 
        line-height:$title_lineh; 
        padding-left:$title_pl;
        text-align: left;
      }
    }
    .more_btn0{
      margin-top: $moreb0_mt;
      display: inline-block;
      font-size: $moreb0_fonts;
      font-family: "SimSun";
      color:$moreb0_c;
      width: $moreb0_w;
      text-align: right;
      line-height: $moreb0_lineh;
    }
    .more_btn1{
      margin-top: $moreb0_mt;
      display: inline-block;
      font-size: $moreb0_fonts;
      font-family: "SimSun";
      color:$moreb0_c;
      width: $moreb1_w;
      text-align: right;
      line-height: $moreb0_lineh;
    }
    .more_btn2{
      margin-top: $moreb0_mt;
      display: inline-block;
      font-size: $moreb0_fonts;
      font-family: "SimSun";
      color:$moreb0_c;
      width: $moreb2_w;
      text-align: right;
      line-height: $moreb0_lineh;
    }
  }
  .bottom{
    border: 1px solid;
    width: $bot_w;
    height: $bot_h;
    background-image: url($bot_bimg);
    color: $bot_c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .f1{
      margin-top: $f1_mt;
      font-size: $f1_s;
    }
  }
}
/*displayinfo*/
$act_w: 1000px;$act_h: 1000px;$at_s: 30px;$at_c: blue;
$t_s: 18px;$t_mt: 10px;$t_pt: 10px;
$t0_mr: 20px;$t1_ml: 200px;$t1_mr: 20px;
$ac_mt: 20px;$ac_ml:20px;$ac_mr: 20px;
.displayinfo{
  .header{
    background-color: $header_bc;
    display: flex;
    justify-content: center;
    .logo{
      width: $header_w;height: $header_h;
      display: flex;
      justify-content: space-between;
      img{width: $img_w;height: $header_h;}
      .text_i{width: $texti_w;height: $texti_h;margin-top: ($header_h - $texti_h)/2;}
      .button_i{width: $buttoni_w;height: $buttoni_h;margin-top: ($header_h - $buttoni_h)/2;}
    }
  }
  .navBar{
    background-color: $navbar_bc;
    display: flex;
    justify-content: center;
    .nav{width: $header_w;height: $navbar_h;display: flex;justify-content: space-around;}
  }
  img{width: 100%;}
  .articalBox{
    display: flex;
    justify-content: center;
    .articalContent{
      width: $act_w;
      min-height: $act_h;
      .articalTitle{
        text-align: center;
        color: $at_c;
        font-size: $at_s;
      }
      .text{
        font-size: $t_s;
        margin-top: $t_mt;
        display: flex;
        justify-content: center;
        .textCon0{
          margin-right: $t0_mr;
        }
        .textCon1{
          margin-left: $t1_ml;
          margin-right: $t1_mr;
        }
        padding-top: $t_pt;
        border-top: 1px solid;
      }
      .articalCon{
        margin-top: $ac_mt;
        margin-left: $ac_ml;
        margin-right: $ac_mr;
      }
    }
  }
  .bottom{
    border: 1px solid;
    width: $bot_w;
    height: $bot_h;
    background-image: url($bot_bimg);
    color: $bot_c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .f1{
      margin-top: $f1_mt;
      font-size: $f1_s;
    }
  }
}
/*listcolumn*/
$cl_w: 1000px;$cl_h: 1000px;
$cl0_w: 250px;$cl0_mt: 20px;
$lt_w: $cl0_w;$lt_h: 60px;$lt_lh: $lt_h;$lt_bc: #3d87cc;$lt_c: white;$lt_s: 30px;
$lc_mt: 20px;$lc_bc: #2066b0;
$cl1_ml: 50px;$cl1_mt: 20px;
$lht_w: 200px;$lht_h: $lt_h;$lht_bbc: #0b59ad;$lht_lh: $lht_h;$lht_c: blue;$lht_s: 24px;
$lhp_w: $cl_w - $cl0_w - $cl1_ml - $lht_w;$lhp_h: $lht_h;$lhp_bbc: #d0d0d0;
$lhp_lh: $lt_h;$lhp_pl: 30px;$lhp_c: rgb(66, 114, 167);$lhp_s: 20px;
$lc_mt: 20px;$lc_ml: 20px;$lc_h: $cl_h - $lc_mt;
.listcolumn{
  .header{
    background-color: $header_bc;
    display: flex;
    justify-content: center;
    .logo{
      width: $header_w;height: $header_h;
      display: flex;
      justify-content: space-between;
      img{width: $img_w;height: $header_h;}
      .text_i{width: $texti_w;height: $texti_h;margin-top: ($header_h - $texti_h)/2;}
      .button_i{width: $buttoni_w;height: $buttoni_h;margin-top: ($header_h - $buttoni_h)/2;}
    }
  }
  .listRow{
    display: flex;
    justify-content: center;
    .column{
      width: $cl_w;
      min-height: $cl_h;
      display: flex;
      justify-content: space-around;
      .column0{
        width: $cl0_w;
        margin-top: $cl0_mt;
        .listTitle{
          width: $lt_w;
          height: $lt_h;
          line-height: $lt_lh;
          border: 1px solid $lt_bc;
          background-color: $lt_bc;
          color: $lt_c;
          font-size: $lt_s;
          text-align: center;
        }
        .listCon{
          margin-top: $lc_mt;
          background-color: $lc_bc;
        }
      }
      .column1{
        margin-top: $cl1_mt;
        margin-left: $cl1_ml;
        .listHeader{
          display: flex;
          justify-content: flex-start;
          .listHeaderTitle{
            width: $lht_w;
            height: $lht_h;
            border-bottom: 5px solid $lht_bbc;
            line-height: $lht_lh;
            text-align: center;
            color: $lht_c;
            font-size: $lht_s;
          }
          .listHeaderPosition{
            width: $lhp_w;
            height: $lhp_h;
            border-bottom: 5px solid $lhp_bbc;
            line-height: $lhp_lh;
            padding-left: $lhp_pl;
            color: $lhp_c;
            font-size: $lhp_s;
          }
        }
        .listContent{
          margin-top: $lc_mt;
          margin-left: $lc_ml;
          min-height: $lc_h;
        }
      }
    }
  }
  .bottom{
    border: 1px solid;
    width: $bot_w;
    height: $bot_h;
    background-image: url($bot_bimg);
    color: $bot_c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .f1{
      margin-top: $f1_mt;
      font-size: $f1_s;
    }
  }
}